.events-bg{
    background-color: #212529;
    
}
.tag-color{
    color: #f58634;
}
.counter1{
    width: 350px;
    background-color: #f8702e;

}
.counter2{
    width: 350px;
    background-color: #fa8f3e;

}
.counter3{
    width: 350px;
    background-color: #f9a93a;

}
